/*
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

.wheel_segment_style {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ff0000;
}

.rewardListElementStyleBase {
  background-color: var(--background-color);
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.rewardListElementStyleActive {
  /*background-color: oklch(from var(--background-color) l calc(c + 1) h);*/
  background-color: color-mix(in srgb, var(--background-color), white 20%);
  filter: drop-shadow(0 0 1rem var(--background-color));
  transform: scale(1.05);
  transform: translate(5% 5%);
}